
a:link {
    color: pink;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    text-decoration: none;
  }

li {
    list-style-type: none;
}

.special {
    color: orange;
    font-weight: bold;
}